#container{
    width: 400px;
    background-color:black;
    padding: 20px;
}

#container h2{
    color: white;
}

input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0.8em;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin: 15px 0;
}

.list > li{
    display: flex;
    justify-content: space-between;
    background-color:whitesmoke;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 0.5em;
}

p{
    color: white;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.btn button{
    padding: 5px;
}